body{
    background-color: #BFEAF5;
}
hr{
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-top-width: thick;
    width: 7%;
    align-items: center;

}
img{
    height: 350px;
}

h1{
    color: #0A2647;
    text-shadow: 0 0 3px #ff0000;
}

h3{
    color: #0A2647;
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 50, 50);
}
